extends ../layouts/main.pug

block title
    title Homepage
block content
    section(class="topHeader")
        div(class="topLeft")
            h1 Web Developer
        div(class="topRight")
            img(src="/img/computer.png")



    section(class="blog")
        
        .post
            
        .post
        
        .post
        
        .post
        
        .post
        
        .post
        
        