extends ../layouts/main.pug

block title
    title Blogs
block content
    div(class="container blog-page index-page")
            .row
                .col-md-8

                    each post in posts
                        .content-box
                            .row
                                .col-md-12
                                    a(href="/blog/" + post.slug)
                                        h1= post.title
                                        
                .col-md-4  
                    .content-box
                        include ../includes/side-ad.pug