extends ../layouts/main.pug

block title
    title Blogs
block content
    div(class="container blog-page show-page")
            .row
                .col-md-8
                    .content-box
                        .row
                            h1= post.title
                            .col-md-12
                                    img(src="https://cdn.britannica.com/67/19367-050-885866B4/Valley-Taurus-Mountains-Turkey.jpg")   
                            .col-md-12
                                h2= post.category
                                p= post.description
                                
                                .btn
                                    div() 
                                        a(href="/blog/" + post.slug + "/delete", class="delete-btn") DELETE
                                    br
                                    div() 
                                        a(href="/blog/" + post.slug + "/edit", class="edit-btn") Edit 

                .col-md-4
                    .content-box
                        include ../includes/side-ad.pug
                    .content-box
                        img(src="https://microhealth.com/assets/images/illustrations/personal-user-illustration-@2x.png")    