extends ../layouts/main.pug

block title
    title Blogs
block content
    div(class="container blog-page show-page")
            .row
                .col-md-8
                    .content-box
                        .row
                            h1 Blogs
                            .col-md-12
                                    img(src="https://cdn.britannica.com/67/19367-050-885866B4/Valley-Taurus-Mountains-Turkey.jpg")   
                            .col-md-12
                               
                                p.
                                    I'm baby vexillologist yr enim shabby chic, labore adipisicing flexitarian quinoa nulla culpa readymade lumbersexual. Intelligentsia gluten-free thundercats jean shorts anim banjo tattooed trust fund photo booth dreamcatcher viral subway tile coloring book. Helvetica irure qui, blue bottle woke typewriter banjo sustainable health goth portland jean shorts retro iceland bitters migas. Normcore chia fam duis unicorn, sed occaecat godard. Hot chicken farm-to-table in thundercats esse.
                                

                .col-md-4
                    .content-box
                        include ../includes/side-ad.pug
                    .content-box
                        img(src="https://microhealth.com/assets/images/illustrations/personal-user-illustration-@2x.png")    