.projects-page.index-page {
    .project-img{
        position: relative;
        overflow: hidden;
        &:hover{
            .inside {
                transform: translate(0,0);
            }
        }
        .inside{
            width: 100%;
            background: rgba(34, 37, 100, .9);
            position: absolute;
            height: 100%;
            transform: translate(0,100%);
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            transition: all .5s ease-in-out;
            a{
                color: white;
                &:hover{
                    color: $linkHoverColor;
                }
            }

            h4{
                font-family: $displayFont;
                display: block;
                margin-bottom: .8rem;
                text-align: center;
                font-size: 2rem;
            }

            .tags {
                display: block;
                max-width: 70%;
                margin: 0 auto;
                text-align: center;
                .pill {
                    display: inline-block;
                    padding: 5px 10px;
                    background: $headerBG;
                    border-radius: 4px;
                    margin-bottom: .5rem;
                    margin-right: .5rem;
                }
            }
        }
    }
}