extends ../layouts/main.pug

block title
    title Projects
block content
    .container.projects-page
        .content-box
            .row
                .col-md-8
                    h1 Create Projects
                    