extends ../layouts/main.pug

block title
    title Projects
block content
    .container.show-page
        .content-box
            .row
                .col-md-12
                    h1 Show Project 
                    p Messenger bag sriracha brooklyn, unicorn gentrify whatever occupy shoreditch VHS copper mug hexagon farm-to-table. Readymade hot chicken tacos cold-pressed raw denim stumptown listicle pabst pour-over quinoa whatever gluten-free tumblr. Artisan raw denim organic disrupt mumblecore kinfolk hella. Knausgaard man bun squid four dollar toast hell of butcher 3 wolf moon art party taiyaki chartreuse. Raclette shabby chic austin taiyaki beard, 90's brunch lomo crucifix gochujang prism poke kickstarter ramps ennui. Truffaut migas art party shabby chic echo park XOXO.
                    .col-md-4
                
                        img(src="https://cdn.dribbble.com/users/1593845/screenshots/11350256/media/31b00ecd0c4252d1528f5325b8c7302d.jpg")

                    .col-md-4
                   
                        img(src="https://cdn.dribbble.com/users/1593845/screenshots/11350256/media/31b00ecd0c4252d1528f5325b8c7302d.jpg")

                    .col-md-4
                   
                        img(src="https://cdn.dribbble.com/users/1593845/screenshots/11350256/media/31b00ecd0c4252d1528f5325b8c7302d.jpg")
                .col-md-12
                   
                        img(src="https://cdn.dribbble.com/users/1593845/screenshots/11350256/media/31b00ecd0c4252d1528f5325b8c7302d.jpg")