extends ../layouts/main.pug

block title
    title Projects
block content
    div(class="container project-page show-page")
        .content-box
            .row
                .col-md-12
                    h1= projects.title
                    p= projects.description
                    .col-md-4
                
                        img(src="https://cdn.dribbble.com/users/1593845/screenshots/11350256/media/31b00ecd0c4252d1528f5325b8c7302d.jpg")

                    .col-md-4
                   
                        img(src="https://cdn.dribbble.com/users/1593845/screenshots/11350256/media/31b00ecd0c4252d1528f5325b8c7302d.jpg")

                    .col-md-4
                   
                        img(src="https://cdn.dribbble.com/users/1593845/screenshots/11350256/media/31b00ecd0c4252d1528f5325b8c7302d.jpg")
                .col-md-12
                   
                        img(src="https://cdn.dribbble.com/users/1593845/screenshots/11350256/media/31b00ecd0c4252d1528f5325b8c7302d.jpg")